body {
    background-color: #e9f2f9; /* Pastel blue background color */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .flashmsg{
    position: absolute;
    top: 80px;
    right: 10px;
    border-bottom: 5px solid #1b509e;
    padding: 10px 10px;
    /* border-radius: 5px; */
    background-color: #6988b5;
  }
  .msgbtnstyle{
    border: none;
    background: none;
    font-size: 20px;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1,
  h2 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
  }
  
  p {
    font-size: 18px;
    color: #000000;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #hero {
    background-color: #e9f2f9; /* Pastel blue background color */
    text-align: center;
    padding: 100px 0;
  }
  
  #hero h1 {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  #hero p {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  #features {
    text-align: center;
    padding: 50px 0;
  }
  
  #features h2 {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  #features li {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  