header {
    width: 100%;
    /* background-color: #f2f2f2; */
    background-color: #3165ac; /* Pastel blue background color */
    overflow: hidden;

  }
  .flashmsg{
    position: absolute;
    top: 80px;
    right: 10px;
    border-bottom: 5px solid #1b509e;
    padding: 10px 10px;
    /* border-radius: 5px; */
    background-color: #6988b5;
  }
  .msgbtnstyle{
    border: none;
    background: none;
    font-size: 20px;
  }

  nav {
    display: inline-block;
    /* background-color: #f2f2f2; */
    background-color: #3165ac; /* Pastel blue background color */
    border-radius: 25px;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 0;
    
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    display: inline-block;
    /* color: #666; */
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  nav a:hover {
    /* background-color: #3165ac; */
    background-color: #e9f2f9;
    /* color: #fff; */
    color: #3165ac;
  }

  header img {
    width: 70px;
    height: auto;
    margin: 10px;
    display: inline-block;
  }
  
  .logo {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav-links {
    float: right;
  }

  .logo-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.2em;
    /* color: #333; */
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }
