{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <script src="{{ url_for('static', filename='js/tweet.js') }}"></script>

{% endblock %}

{% block title %}Home{% endblock %} 
{% block content%}
<body>
    <div class="form-group">
        <h1>Attendance</h1>
        <form action="/attendance" method="POST" enctype="multipart/form-data">
            <label for="class_name">Class Name:</label>
            <input type="text" name="class_name"><br><br>
            <label for="class_image">Class Image:</label>
            <input type="file" name="class_image"><br><br>
            <input type="submit" class= "btn btn-primary" value="Get Attendance">
        </form>

    </div>
</body>
    

    {% endblock %}
    